/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/
.dropdown { display: none; } 
@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .header-search {
        padding: 15px 0px;
    }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
    .logo {
        text-align: center;
    }
    
    
    .header-search {
        padding: 15px 0px;
    }
    #collapseFilter.d-md-block {
        padding: 30px 0px;
    }
}


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/



@media (min-width: 992px) and (max-width: 1199px) {
    
    .titlepage h2::after {width: 58%;}
    .about-box .titlepage h2::after {
        width: 52%;
right: -221px;
    }
  
    .contact .titlepage h2::after {
    left: -650px;
width: 30%;
   }


.call_text { font-size: 16px; }
.navbar-expand-lg .navbar-nav { width: 61%; }

}

@media (min-width: 768px) and (max-width: 991px) {
    
    .btn_main { margin-top: 58px; width: 65%;}
  

    .btn-primary {max-width: 144px; }
 
    .about-box .titlepage h2::after {width: 73%;
       right: -88px;
    }
    .contact .titlepage h2::after {
        left: -403px;
        width: 41%;
    }
    .paddimg-right {
        padding-right: 15px;
    }
    .paddimg-left {
         padding-left: 15px;
    }
.contact_main { padding: 20px 0px; }
.contact_right{ display:none; }
nav{display: none;}
.dropdown { display: block; } 
.logo { padding: 10px 0px; position: relative; left: 50%;}
.navbar-expand-lg .navbar-nav { width: 78%; }

.achive_text { font-size: 38px; padding-top: 0px; }

.call_text_left { padding-left: 3px;}
.call_text { font-size: 12px; }



}

@media (min-width: 576px) and (max-width: 767px) {
    
.btn-primary {
    margin-top: 0px;
    margin-left: -7px;
}


.contact_main{ display: none; }
.contact_right{ display:none; }
nav{display: none;}
.dropdown { display: block; } 
.logo { padding: 10px 0px; position: relative; left: 50%;}





.navbar-expand-lg .navbar-nav { width: 100%; float: left; text-align: left; display: block; }


} 


@media (max-width: 575px) {
    
.header { padding-top: 0px; }
.btn-primary {max-width: 126px;
margin-right: 2px;
font-size: 14px;}

.btn_main {
    margin-top: 30px;
    padding-bottom: 30px;
    width: 55%;}

 

    .paddimg-right {
    padding-right: 15px;
}
.paddimg-left {
    padding-left: 15px;
}
.Nursery-img .text-box h3 {
font-size: 23px;
padding: 30px 14px;

}

.contact .titlepage h2::after {

    left: -8px;
    width: 281px;
}
.footer .headinga span {
font-size: 16px;

}
.menu-bottom {
    margin-bottom: 45px;
}
ul.link li {

    padding: 8px 12px;
    padding-bottom: 0px; 
}

.contact_right{ display:none; }
nav{display: none;}
.dropdown { display: block; } 
.logo { padding: 10px 0px; position: relative; left: 50%;}
.achive_text { font-size: 38px; }
.social_icon { width: 100%; }
.social_icon ul { display: inline-block; } 

.navbar-expand-lg .navbar-nav { width: 100%; float: left; text-align: left; display: block; }


}